#artists-index
  .container
    %h2 Artists
    %ul
      - @artists.each do |artist|
        %a(href="artists/#{artist.id}")
          %li.clearfix
            .artist-container
              .artist-name #{artist.name}
              .albums
                - artist.albums.first(10).each do |album|
                  %a(href="/albums/#{album.id}")
                    .album(style="background-image: url('#{album.image_path}')")
            .favorite(data-media-id="#{artist.id}" data-media-type='artist')
              - artist.favorite? ? gold = 'gold' : gold = ''
              %i.fa.fa-star(class="#{gold}")
