#songs-index.container
  %h2 Songs
  %ul
    - @songs.each do |song|
      %li.clearfix
        .song
          .song-attrs
            - if song.album.present?
              .art(style="background-image: url('#{song.album.image_path}')")
            %h4 #{song.title}
          - if song.album.present?
            .relations.album
              %span album:
              %a(href="albums/#{song.album.id}") #{song.album.title}
          - if song.artist.present?
            .relations.artist
              %span artist:
              %a(href="songs/#{song.artist.id}") #{song.artist.name}
        .favorite(data-media-id="#{song.id}" data-media-type='song')
          - song.favorite? ? gold = 'gold' : gold = ''
          %i.fa.fa-star(class="#{gold}")
