#albums-index
  .container
    %h2 Albums
    %ul
      - @albums.each do |album|
        %a(href="albums/#{album.id}")
          %li
            .art(style="background-image: url('#{album.image_path}')")
            .attrs
              .album-title #{album.title}
              .artist #{album.artist.name}
            .favorite(data-media-id="#{album.id}" data-media-type='album')
              - album.favorite? ? color = 'gold' : color = 'black'
              %i.fa.fa-star(style="color: #{color}")
