#albums-show.container
  %h3 #{@album.title}
  %h4.artist-name
    %a(href="/artists/#{@album.artist.id}")
      #{@album.artist.name}
  .album(style="background-image: url('#{@album.image_path}')")
    %ol
      - @album.songs.each do |song|
        %li #{song.title}

