!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DevbootcampChallenge
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %base(href="/")
  %body
    = toastr_flash
    %nav.clearfix
      .title
        %a.nav-link(href='/')
          COLLECTLY
      - if current_user.present?
        .login
          %a.nav-link(href='/logout')
            Logout: #{current_user.name}
        .nav.clearfix
          %ul
            %li
              %a.nav-link(href='/artists')
                artists
            %li
              %a.nav-link(href='/albums')
                albums
            %li
              %a.nav-link(href='/songs')
                songs
      - else
        - if current_page?(:controller => 'sessions', :action => 'login')
          .login
            %a.nav-link(href='/signup')
              Sign Up
        - if current_page?(:controller => 'users', :action => 'new')
          .login
            %a.nav-link(href='/login')
              Login
    = yield
